<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- (ngSubmit)="buscar()" al presionar enter va a buscar() -->
        <form (ngSubmit)="buscar()"  autocomplete="off">
            <input  type="text"
                    name="termino"
                    class="form-control"
                    [(ngModel)]="termino"
                    placeholder="Buscar pais...">
        </form>
    </div>
</div>
<hr>
<div *ngIf="hayError"class="alert alert-danger" role="alert">
    <strong>No se encontro nada con  {{termino}} </strong>
</div>

<div *ngIf="!hayError" class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>1224455</td>
                    <td>
                        <a href="/pais/hnd">Ver...</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
