<h2>Por País o Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- (onDebounce)="buscar($event)"> -->
        <app-pais-input
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar Pais o Capital...">
        </app-pais-input>
    </div>
</div>
<hr>
<div *ngIf="hayError==true && termino!==''"   class="alert alert-danger" role="alert">
    <strong>No se encontro nada con  {{termino}} </strong>
</div>

<div *ngIf="paises.length>0" class="row">
    <div class="col">
        <app-tabla-paises [paises]="paises"></app-tabla-paises>

    </div>
   
</div>
